
//$background
$background: rgba(3, 4, 1, 1);
//$foreground
$foreground: rgba(247, 242, 231, 1);
//$color0
$color0: rgba(3, 4, 1, 1);
//$color1
$color1: rgba(117, 111, 51, 1);
//$color2
$color2: rgba(113, 114, 96, 1);
//$color3
$color3: rgba(205, 131, 89, 1);
//$color4
$color4: rgba(172, 169, 154, 1);
//$color5
$color5: rgba(193, 166, 116, 1);
//$color6
$color6: rgba(234, 220, 188, 1);
//$color7
$color7: rgba(236, 229, 213, 1);
//$color8
$color8: rgba(165, 160, 149, 1);
//$color9
$color9: rgba(117, 111, 51, 1);
//$color10
$color10: rgba(113, 114, 96, 1);
//$color11
$color11: rgba(205, 131, 89, 1);
//$color12
$color12: rgba(172, 169, 154, 1);
//$color13
$color13: rgba(193, 166, 116, 1);
//$color14
$color14: rgba(234, 220, 188, 1);
//$color15
$color15: rgba(236, 229, 213, 1);
