@keyframes blink_red {
  to {
    /* background-color: rgb(242, 143, 173); */
    color: #1a1826; } }
/* #mode { */
/* 	margin-left: 10px; */
/* 	background-color: rgb(248, 189, 150); */
/*     color: rgb(26, 24, 38); */
/* } */
* {
  font-family: "Monaspace Krypton";
  font-size: 12pt;
  font-weight: bold;
  border-radius: 2px;
  transition-duration: 0.5s; }

margins, container, #tags, #mode, #clock, #memory, #temperature, #cpu, #mpd, #custom-wall, #backlight, #pulseaudio, #battery, #custom-cava-internal, #custom-media, template-tag-button, #tags button, #tags button:hover, #tags button.occupied, #tags button.focused, #tags button.urgent, #custom-launcher, #network, #network.disconnected, #tray {
  margin-left: 5px;
  margin-right: 5px;
  padding-right: 10px;
  padding-left: 10px; }

container, #tags, #mode, #clock, #memory, #temperature, #cpu, #mpd, #custom-wall, #backlight, #pulseaudio, #battery, #custom-cava-internal, #custom-media {
  border: none;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.5); }

.warning {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

.critical {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

.urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

window#waybar {
  background-color: transparent; }

window > box {
  margin-top: 5px; }

template-tag-button, #tags button, #tags button:hover, #tags button.occupied, #tags button.focused, #tags button.urgent {
  border: none;
  border-radius: 50px; }

#tags button {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #6895d0; }
  #tags button:hover {
    color: #7ebae4; }
#tags button.occupied {
  color: #d9e0ee; }
#tags button.focused {
  color: #f8bd96; }
#tags button.urgent {
  color: #6895d0; }

tooltip {
  background: #302d41; }
  tooltip label {
    color: #d9e0ee; }

#custom-launcher {
  font-size: 20px;
  color: #7ebae4; }

#clock {
  color: #d9e0ee; }

#memory {
  color: #b5e8e0; }

#temperature {
  color: #96cdfb; }

#cpu {
  color: #f5c2e7; }

#custom-wall {
  color: #33ccff; }

#backlight {
  color: #f8bd96; }

#pulseaudio {
  color: #f5e0dc; }

#network {
  color: #ABE9B3; }

#battery {
  font-family: "Monaspace Krypton";
  color: #c0caf5; }

#custom-cava-internal {
  font-family: "Monaspace Krypton";
  background-size: 400% 400%;
  animation: gradient_f 9s cubic-bezier(0.72, 0.39, 0.21, 1) infinite;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
  font-weight: bold;
  border-radius: 20px;
  color: #2FE6FF; }

#network.disconnected {
  color: white; }

#custom-media {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  color: black; }

/*# sourceMappingURL=style.css.map */
